.pos .modifier-product-popup main {
    text-align: left;
}
.pos .modifier-product-popup h3.sub-heading {
    margin-block-end: 0px;
    margin: 0px 18px;
    padding-top: 15px;
    font-size: 18px;
}
.pos .modifier-product-popup .product-list {
    padding: 5px 15px 10px;
}
.pos .modifier-product-popup .product-list .product,
.pos .slice-product-popup .product-list .product {
    outline: 2px solid transparent;
    height: 65px;
}
.pos .modifier-product-popup .product-list .product .product-img,
.pos .slice-product-popup .product-list .product .product-img {
    line-height: 60px;
}
.pos .modifier-product-popup .product-list .product .product-img img,
.pos .slice-product-popup .product-list .product .product-img img {
    max-height: 60px;
    max-width: 60px;
    width: 50px;
    height: 50px;
}
.pos .modifier-product-popup .product-list .product.selected {
    border: 1px solid #6EC89B;
    outline: 2px solid #6EC89B;
}
.pos .modifier-product-popup .modifer-slides-button .button.modified-pizza-poration {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px
}
.pos .slice-product-popup main {
    text-align: left;
}
.pos .slice-product-popup h3.sub-heading {
    margin-block-end: 0px;
    margin: 0px 18px;
    padding-top: 15px;
    font-size: 18px;
}
.pos .slice-product-popup .product-list {
    padding: 5px 15px 10px;
}
.pos .slice-product-popup .product-list .product.selected {
    border: 1px solid #6EC89B;
    outline: 2px solid #6EC89B;
}
.pos .order .orderline.modifier {
    margin-left: 30px;
    width: calc(100% - 30px);
    font-size: 13px;
    padding-bottom: 1px;
    padding-top: 3px;
    padding-left: 6px;
}
.pos .order .orderline.modifier .product-name {
    font-weight: normal;
}
.pos .order .orderline.modifier .product-name .pname {
    font-weight: bold;
}
.pos .pos_modifier_scroll {
    height: 250px;
    overflow: scroll;
    width: 70%;
    float: left;
}
.pos .pos_modifier_cart {
    width: 30%;
    overflow: scroll;
    height: 250px;
    float: right;
}
.pos .pos_modifier_cart .modifer_cart_lines h5 {
    padding: 15px;
}

.pos .modal-dialog .popup-lg {
    max-width: 80%;
    height: auto;
}


/* GPI tech CSS */
div.pos .rightpane-header {
	overflow: visible;
	max-width: 100%;
}

div.pos .category-list.simple {
	display: block;
}

div.pos .category-simple-button {
	padding: 12px;
	width: 20%;
	box-sizing: border-box;
	text-align: center;
}

div.pos .breadcrumb:last-child {
	float: none;
	vertical-align: middle;
	border: none;
}

div.pos .rightpane-header {
	display: flex;
	align-items: center;
}
